@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------------------------------------*/

body {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #e44848;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 20px;
}

.main {
	height: 100vh;
	position: relative;
}

/* Header 
---------------------------------------------*/

.header {
	padding: 30px 0;
}

.header__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	display: flex;
}

.header__link {
	display: block;
	overflow: hidden;
	padding: 0 15px;

	margin-left: 30px;
	color: #fff;
	font-size: 18px;
}

.header__link span {
	display: inline-block;
	width: 100%;
	transition: transform 0.5s ease;
	position: relative;
}

.header__link span::before {
	content: attr(data-hover);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	transform: translateY(150%);
}

.header__link:hover.header__link span {
	transform: translateY(-150%);
}

.header__menu {
	display: none;
}

@media (max-width: 768px) {
	.header__nav {
		display: none;
	}

	.header__inner {
		position: static;
	}

	.header__nav.active {
		display: block;
		width: 100%;
		position: absolute;
		top: 120px;
		left: 0;

		background-color: #c73c3c;
	}

	.header__link {
		margin: 15px 0;
		padding: 0 30px;

		font-size: 20px;
	}

	.header__menu {
		width: 30px;
		padding: 10px 0;
		display: block;

		font-size: 0;
		color: transparent;

		background: none;

		position: absolute;
		top: 50px;
		right: 25px;
		z-index: 1;
	}

	.header__burger {
		display: block;
		width: 30px;
		height: 3px;
		background-color: #fff;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		transition: background 0.3s linear;
	}

	.header__burger:before,
	.header__burger:after {
		content: "";
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform 0.3s linear;
	}

	.header__burger:before {
		top: -8px;
	}

	.header__burger:after {
		bottom: -8px;
	}

	.header__menu.active .header__burger {
		background: none;
	}

	.header__menu.active .header__burger:before {
		transform-origin: left top;
		transform: rotate(45deg) translateY(0px);
	}

	.header__menu.active .header__burger:after {
		transform-origin: left button;
		transform: rotate(-45deg) translateY(-8px);
	}
}

/* Header 
---------------------------------------------*/

.intro {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.intro__title {
	font-family: "Poiret One", cursive;
	font-size: 100px;

	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

.intro__title span {
	display: block;
	height: 10px;
	width: 50px;
	background-color: #fff;
	margin-right: 20px;
}

.intro__title span:last-child {
	margin-right: 0;
	margin-left: 20px;
}

@media (max-width: 1100px) {
	.intro__title {
		font-size: 60px;
	}
}

@media (max-width: 570px) {
	.intro__title {
		font-size: 40px;
	}
	.intro__title span {
		display: none;
	}
}

/* Btn 
----------------------*/

.btn {
	position: relative;
	display: inline-block;
	background-color: transparent;
}

.btn__link {
	display: block;

	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;

	border: 2px solid #fff;
	border-radius: 10px;

	overflow: hidden;
	position: relative;
}

.btn__text {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	transition: transform 0.5s ease;
}

.btn__link::before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 50px;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
}

.btn__link:hover::before {
	transform: translateX(0);
}
.btn__link::before {
	color: #e44848;
}
.btn__link:hover .btn__text {
	transform: translateX(100%);
}

/* Info
------------------------------------------*/

.info {
	padding: 90px 0;
	background-color: #fff;
	color: #000;

	position: relative;
}

.info__grid {
	display: grid;
	grid-template: 1fr / 45% 50%;
	grid-gap: 50px;
}

.info__item.video {
	padding: 20px;
	text-align: center;

	background-color: #e44848;
	border-radius: 0 20px 20px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video__title {
	font-size: 40px;
	color: #fff;

	margin-bottom: 30px;
}

.video__link {
	display: block;
	width: 100%;

	position: relative;

	margin-bottom: 20px;
}

.video__link:last-child {
	margin-bottom: 0;
}

.video__player {
	position: absolute;
	top: 50%;
	left: 50%;

	padding: 20px;
	background-color: #fff;
	border-radius: 10px;

	transform: translate(-50%, -50%);
	transition: padding 0.3s linear, border-radius 0.3s linear;
}

.video__player:hover {
	padding: 25px;
	border-radius: 0;
}

.video__name {
	position: absolute;
	left: 20px;
	top: 20px;

	color: #fff;
	font-size: 15px;
}

.video__name:hover {
	text-decoration: underline;
}

.video__player i {
	color: #e44848;
}

.video__preview {
	width: 100%;
	border-radius: 0 10px 10px 0;
}

.news__title {
	font-family: "Caveat", cursive;
	font-size: 30px;
	margin-bottom: 25px;
	letter-spacing: 1px;
	line-height: 1.2;
}

.news__text {
	margin-bottom: 40px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.2;

	position: relative;
	overflow: hidden;
	padding: 10px 20px;
}

.news__text::before {
	content: "";
	position: absolute;
	top: 0px;
	height: 100%;
	border-left: 5px solid #e44848;
	transform: translateY(-100%);
	transition: transform 0.5s linear;
}

.news__text:hover::before {
	transform: translateY(0);
}

.news__text::before {
	left: 0;
}

.news__text::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	border-top: 5px solid #e44848;
	transition: transform 0.5s linear;
}

.news__text:hover::after {
	transform: translateX(-100%);
}

.news__item {
	margin-top: 30px;
}

.news__item span {
	font-weight: 700;
	font-size: 25px;
	color: #e44848;
}

.news__img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.news__image {
	width: 250px;
	height: 250px;
}

@media (max-width: 1100px) {
	.news__title {
		font-size: 20px;
	}
	.news__text {
		font-size: 12px;
	}
	.news__image {
		width: 120px;
		height: 120px;
	}
	.video__name {
		left: 10px;
		top: 10px;
		font-size: 10px;
	}
	.video__player {
		padding: 10px;
	}
	.video__player:hover {
		padding: 15px;
	}
	.video__player i {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.info__grid {
		grid-gap: 30px;
	}
	.news__title {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.news__text {
		font-size: 8px;
		padding: 10px;
		margin-bottom: 10px;
	}
	.news__item {
		margin-top: 10px;
	}
	.news__item span {
		font-size: 15px;
	}
	.info__item.video {
		padding: 10px;
	}
	.video__link {
		margin-bottom: 5px;
	}
	.video__title {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.video__player:hover {
		padding: 12px;
	}
}

@media (max-width: 570px) {
	.info__grid {
		display: block;
	}
	.info__item {
		margin-bottom: 20px;
	}
	.news__item span {
		font-size: 10px;
	}
	.news__title {
		font-size: 10px;
		margin-bottom: 10px;
	}
	.news__text {
		font-size: 6px;
		padding: 10px;
		margin-bottom: 10px;
	}
	.video__title {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.news__image {
		width: 60px;
		height: 60px;
	}
	.video__name {
		left: 6px;
		top: 6px;
		font-size: 8px;
	}
}

@media (max-width: 400px) {
	.info {
		padding: 50px 0;
	}
}

/* Slick 
-----------------*/

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 8px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 2px solid #e44848;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
	background-color: #e44848;
}

.slick-arrow {
	font-size: 0;
}

@media (max-width: 768px) {
	.slider .slick-dots li {
		list-style: none;
		margin: 0px 4px;
	}
	.slider .slick-dots button {
		width: 10px;
		height: 10px;
	}
}

/* Game
------------------------------------------*/

.game {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 90px 0;
}

.game__name {
	width: 100%;
}

.game__title {
	margin-bottom: 30px;

	font-family: "Poiret One", cursive;
	font-size: 70px;
	line-height: 1.2;
	text-align: center;
}

.game__subtitle {
	margin-bottom: 20px;

	font-family: "Caveat", cursive;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
}

.game__list {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	width: 100%;

	margin-bottom: 30px;
}

.game__card {
	width: 100%;
	min-height: 100%;

	position: relative;

	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;

	margin: 20px;

	background-color: rgba(0, 0, 0, 0.1);

	transition: all 0.3s linear;
}

.card__item {
	margin-bottom: 20px;
	padding: 20px;
	font-size: 30px;

	font-weight: 700;
	line-height: 40px;
	color: #e44848;
	text-align: center;
	border-radius: 10px;
	background-color: #fff;

	transition: background-color 0.5s ease;
}

.card__item:last-child {
	margin-bottom: 0;
}

.card__number {
	width: 100%;
	text-align: center;

	color: #fff;
	font-weight: 700;
	font-size: 20px;

	margin-bottom: 20px;
}

.game__card.active .card__item {
	background-color: rgb(255, 132, 132);
}

.game__card.active .card__item.active {
	background-color: rgb(151, 255, 151);
}

.card__image {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.game__btn {
	display: flex;
	justify-content: center;
}

@media (max-width: 1100px) {
	.game__title {
		font-size: 60px;
		margin-bottom: 20px;
	}
	.game__subtitle {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.game {
		padding: 50px 0;
	}
	.game__title {
		font-size: 40px;
		margin-bottom: 10px;
	}
	.game__subtitle {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.game__card {
		margin: 10px;
		padding: 10px;
	}
	.card__number {
		font-size: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 570px) {
	.game__title {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.game__subtitle {
		font-size: 10px;
	}
	.game {
		padding: 35px 0;
	}
	.game__card {
		margin: 5px;
	}
	.card__item {
		padding: 10px;
	}
}

@media (max-width: 400px) {
	.info {
		padding: 50px 0;
	}
	.game__title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.game__subtitle {
		font-size: 8px;
	}
	.game__card {
		padding: 6px;
	}
}
